@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.scroll-hidden::-webkit-scrollbar {
    width: 3px;
    background: #F1F1F1;
}
.scroll-hidden::-webkit-scrollbar-thumb {
    background: #888;
}